.alexa-hidden{
    display: none;
}

.alexa-notInitialized{
    content: '';
    background:url('imgs/not_intialized.png');
    background-size:cover;
    position:relative;
    -webkit-filter:invert(100%);
    width:80px;
    height:80px;
    margin-left:0px;
}

/* Same as recordStop */
.alexa-tokenSet{
    content: '';
    background:url('imgs/ready.gif');
    background-size:cover;
    position:relative;
    width:80px;
    height:80px;
    margin-left:0px;
}

.alexa-recordStart{
    content: '';
    background:url('imgs/listening.gif');
    background-size:cover;
    position:relative;
    width:80px;
    height:80px;
    margin-left:0px;
}

.alexa-tellAnswering{
    content: '';
    background:url('imgs/speaking.gif');
    background-size:cover;
    position:relative;
    width:80px;
    height:80px;
    margin-left:-20px;
}

.alexa-sendWaiting{
    content: '';
    background:url('imgs/waiting.gif');
    background-size:cover;
    position:relative;
    width:80px;
    height:80px;
    margin-left:0px;
}

.alexa-broken{
    content: '';
    background:url('imgs/broken.gif');
    background-size:cover;
    position:relative;
    width:80px;
    height:80px;
    margin-left:0px;
}

