.alexa-hidden{
    display: none;
}

.alexa-notInitialized{
    content: '';
    background:url('imgs/Notintialized.png');
    background-size:cover;
    position:absolute;
    -webkit-filter:invert(100%);
    width:80px;
    height:80px;
    margin-left:-20px;
}

/* Same as recordStop */
.alexa-tokenSet{
    content: '';
    background:url('imgs/DarkLightBlueCircle.gif');
    background-size:cover;
    position:absolute;
    /*-webkit-filter:invert(100%);*/
    width:80px;
    height:80px;
    margin-left:-20px;
}

.alexa-recordStart{
    content: '';
    background:url('imgs/BlueTalking.gif');
    background-size:cover;
    position:absolute;
    width:80px;
    height:80px;
    margin-left:-20px;
}

/* Same as tokenSet */
.alexa-recordStop{
    content: '';
    background:url('imgs/DarkLightBlueCircle.gif');
    background-size:cover;
    position:absolute;
    width:80px;
    height:80px;
    /*-webkit-filter:invert(100%);*/
    margin-left:-20px;
}

.alexa-broken{
    content: '';
    background:url('imgs/Broken.gif');
    background-size:cover;
    position:absolute;
    width:80px;
    height:80px;
    /*-webkit-filter:invert(100%);*/
    margin-left:-20px;
}